---
interface Props {
  for: string;
  text: string;
  class?: string; // Allows additional Tailwind classes to be passed
}

const { for: htmlFor, text, class: className } = Astro.props;
---

<label
  for={htmlFor}
  class:list={[
    "block",
    "font-body",
    "text-sm",
    "font-medium",
    "text-text",
    "mb-1",
    className,
  ]}
>
  {text}
</label>